@import 'bootstrap/dist/css/bootstrap.min.css';
.hov:hover{ color:green !important}
.card-mycol{ background-color: lightgreen;}
.btn-mycolor{background-color: white;; color:#050a30; border:2px solid #050a30}
.btn-mycolor:hover{background-color: #050a30;; color:#ffc107; border:2px solid rgb(183, 189, 183)}
.btn-mycolors:hover{background-color: #ffc107;; color:#050a30; border:2px solid rgb(183, 189, 183)}
.btn-mycolors{background-color:#050a30 ;; color:#ffc107; border:2px solid #050a30}
.card-mycolors{background-color: ;; color:; border:2px solid #050a30}
.card-mycolors:hover{background-color: ;; color:#050a30; border:2px solid rgb(183, 189, 183)}
.btn-mycolorss{background-color:#ffc107 ;; color:; border:2px solid #050a30}
.btn-mycolorss:hover{background-color:#050a30 ;; color:#ffc107; border:2px solid #050a30}
.hove:hover{color: red !important}

.zo {
    transition: transform 0.3s ease; /* Smooth transition */
  }
  
  .zo:hover {
    transform: scale(1.1); /* Scale to 110% on hover */
  }

  .container1 {
    display: flex;
    justify-content: center;
    gap: 15px;
  }
  .colored{
    color: rgb(237, 201, 21);
  }
  .uncolor{
    color: black;
  }